{{ define "title" }}
	{{ .Title }}
{{ end }}

{{ define "main" }}

<!-- Welcome -->
<div class="container-fluid">
  <div class="row bg-gradient">
    <div class="col">
      <h1 class="text-light text-center pt-5 letter-space">iPhone Trade In</h1>
      <h5 class="text-light text-center pt-5">Sell Your iPhone For Cash - Simple and hassle free</h5>
      <h5 class="text-light text-center">Upgrade to the device you like</h5>
      <h5 class="text-light text-center pb-5">Recycle the old device to help the planet</h5>
    </div>
  </div>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-10 col-lg-10 mx-auto">
			<h3 class="my-5 text-center">Frequently Asked Questions</h3>
		</div>
	</div>
</div>
  <div class="container">
	<div class="row">
		<div class="col-md-10 col-lg-10 mx-auto">
			<ul class="tick-list">
				<li><p class="font-weight-bold text-dark mb-3 text-left text-blue">How to sell my iPhone</li>
					<p>Simply bring in the phone to our store(<a href="/contact-eg-repairs">store locaion and opening hours.</a>) Our technician will run a quick test in front of you, and then offer the <span class="text-blue font-weight-bold">best possible price</span>, on the spot! Everything is transparent. If you accept the trade in estimate, you will <span class="text-blue font-weight-bold">get the cash</span> in store. It's one time-off.</p>
				<li><p class="font-weight-bold text-dark mb-3 text-left">How long will it take?</li>
					<p>In most cases, it takes just a few minutes. Exceptional cases are, for example, if your phone is not working, we may still take it, but we need extra time to test parts. In this case, prcessing time may vary.</p>
				<li><p class="font-weight-bold text-dark mb-3 text-left">What If my phone is broken?</li>
					<p>We accept any conditions of the phone, including damaged screens, water damage, even if the phone doesn't turn on. We will test the phone and let you know the price. Our technician has rich experience in repairs. So you can definitely trust our evaluation.</p>
				<li><p class="font-weight-bold text-dark mb-3 text-left">What about my data?</li>
					<p>You can erase the data before dropping off the phone, or we can help you to do it. We also offer <span class="text-blue font-weight-bold">backup & restore</span> service.</p>
				
			  </ul>
		</div>
	</div>
</div>




{{ end }}  