
<!-- Footer -->
<footer>
  <div class="container-fluid text-light mt-5 bg-dark">
    <div class="row justify-content-center">
      
			
      <div class="col-12 col-md-4 text-center py-5">
        <h5>Opening Hours</h5>
				<table class="table table-sm table-borderless footer-table" id="footer-hours">
				
			  <tbody>
					{{ range sort .Site.Data.hours "weight"}}
						<tr>
							<td class="text-right border-top-0">{{ .Day }}</td>
							<td class="text-left border-top-0">{{ .Hours }}</td>
						</tr>
					{{ end }}		
			  </tbody>
			</table>
			</div>
			
      <div class="col-12 col-md-4 text-center border-bottom py-5">
			
				<div class="my-3"><a href="tel:{{  range .Site.Data.contact }}{{ .phone }}{{ end }}
					" class="text-light">Tel: {{  range .Site.Data.contact }}{{ .mobile }}{{ end }}
				</a></div>
							
				<p>Location: G38 Burwood One Shopping Center, Near Coles</p>
				<p>172 Burwood Hwy, Vic 3151</p>
      		
      </div>
    </div>					
	</div>
	
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto mb-3 text-center">
        <p class="text-brand-color font-weight-regular mt-3">COPYRIGHT 2022 EG REPAIRS, PTY LTD. ALL RIGHTS RESERVED.</p>
        <svg width="40" height="40" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M30 14.9629C30 22.7601 24.08 29.1713 16.5 29.9258V24.8756C21.3113 24.1501 25 19.9883 25 14.9629C25 9.93744 21.3113 5.77568 16.5 5.05016V0C24.08 0.754449 30 7.16561 30 14.9629ZM13.5 5.05016V0C5.92002 0.754449 0 7.16561 0 14.9629C0 22.7601 5.92002 29.1713 13.5 29.9258V24.8756C8.68874 24.1501 5 19.9883 5 14.9629C5 9.93744 8.68874 5.77568 13.5 5.05016Z" fill="#B00A0F"/>
          <rect x="1.5" y="12.4567" width="12" height="5.01237" rx="1" fill="#B00A0F"/>
          <rect x="16.5" y="12.4567" width="7.5" height="5.01237" rx="1" fill="#B00A0F"/>
          <path d="M16.5 13.9604H19V26.9926H16.5V13.9604Z" fill="#B00A0F"/>
          </svg>
      </div>
    </div>
  </div>
</footer>