
{{ define "main" }}

<!-- Welcome -->
<div class="container-fluid">
  <div class="row bg-gradient">
    <div class="col">
      <h1 class="text-light text-center pt-5 letter-space">Online Shopping Coming Soon!</h1>
      <h4 class="text-light text-center pb-5 pt-5">For phone and computer repair services, visit our shop or give us a call!</h4>
      
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="display-4 text-center text-blue font-weight-bold my-3">
        <button type="button" class="ml-3 btn bg-logo-blue"><a href="https://egrepairs.com.au" class="text-light"><strong>Learn more</strong></a></button>
    </div>
    </div>
  </div>
</div>

<!-- phone-->
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-6 mx-auto text-color-light">
      <img src="/images/illustrations/phone.svg" class="my-5" alt="Call us">
      
    
      <h5 class="mb-5"><a href="tel:{{  range .Site.Data.contact }}{{ .mobile }}{{ end }}
        " class="align-middle text-dark">{{  range .Site.Data.contact }}{{ .mobile }}{{ end }}
       </h5>
      
      <hr class="hr-gradient w-md-100 mx-auto mb-0">

    </div>
    
  </div>
</div>

<!-- Getting here and google map -->
<div class="container-fluid">
    <div class="column">
      <div class="col-lg-8 mx-auto text-center no-gutters my-5">
        <ul class="tick-list">
        <img src="/images/illustrations/placeholder.svg" class="mb-5" alt="Location">
        <li><p class="text-dark mb-3 text-left font-weight-bold">Shop G38, Burwood One Shopping Centre, 172-210 Burwood Highway, Burwood East, VIC 3151</p></li>
        <li><p class="text-dark mb-3 text-left">Near the 24 hour Kmart and Coles Burwood East</p></li>
        <li><p class="text-dark mb-3 text-left">Free parking</p></li>
      </ul>
      </div>
    </div>
    <div class="mx-auto text-center" id="burwoodscmap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3150.310578799728!2d145.14819141601734!3d-37.85302277974532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad63f69825ebf17%3A0x642b8d2a60f41178!2sEG%20Phone%20and%20Computer%20Repairs!5e0!3m2!1sen!2sau!4v1653532535056!5m2!1sen!2sau" width="500" height="375" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div> 
 </div>

 <!-- SC map -->
 <div class="container-fluid">
   <div class="row">

     <h3 class="text-blue mx-auto my-5">Shopping Centre Map</h3>
     <div class="co-lg-10 mx-auto text-center">
      <img src="/images/Burwood-SC.PNG" class="img-fluid mb-5" wdith="400" alt="Burwood One Shopping Center Map">
  </div>     
   </div>
 </div>

 <!-- Shop exterior -->
 <div class="container-fluid">
  <div class="row">
    <div class="co-lg-10 mx-auto text-center">
     <img src="/images/exterior.png" class="img-fluid mb-5" height="350" alt="Shop exterior">
 </div>     
  </div>
</div>

{{ end }}
