
{{ define "main" }}

<!-- Welcome -->
<div class="container-fluid">
  <div class="row bg-gradient">
    <div class="col">
      <h1 class="text-light text-center pt-5 letter-space">The Electronic Genius </h1>
      <h4 class="text-light text-center pb-5 pt-5">Got a problem with your phone or computer? visit our shop or give us a call!</h4>
      <h4 class="text-light text-center">Free Quote - Pay Only When Fixed!</h4>
    </div>
  </div>
</div>


<!-- Feature Cards -->
<section class="pricing">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <!-- Free Tier -->
      <div class="col-md-5 my-5">
        <div class="card">
          <div class="card-body">
            <div class="text-center my-4">
              <svg width="219" height="60" viewBox="0 0 219 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M85.9463 11.0526H57.9933C55.0454 11.0526 54 13.6877 54 16.5053L54 55.015C54 57.8327 54.9741 59.0363 57.922 59.0363H71.8272H85.7324C88.6803 59.0363 89.9397 57.8326 89.9397 55.015V15.96C89.9397 13.1424 88.8942 11.0526 85.9463 11.0526ZM71.8272 57.0597C70.6485 57.0597 69.688 56.1415 69.688 55.015C69.688 53.8884 70.6486 52.9702 71.8272 52.9702C73.0059 52.9702 73.9665 53.8884 73.9665 55.015C73.9665 56.1415 73.006 57.0597 71.8272 57.0597ZM87.6578 50.8572C87.6578 51.4216 86.3228 51.9478 85.7324 51.9478H57.922C57.3315 51.9478 56.2819 51.3391 56.2819 50.7748V15.029C56.2819 14.4646 56.8324 13.2337 57.4228 13.2337H86.5168C87.1072 13.2337 87.6578 14.3051 87.6578 14.8695V50.8572Z" fill="url(#paint0_linear)"/>
                <g clip-path="url(#clip0)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.79698 30.1435C0.804533 30.1435 0 31.146 0 32.3827V57.7608C0 58.9975 0.804533 60 1.79698 60H16.1728C17.1653 60 17.9698 58.9975 17.9698 57.7608V32.3827C17.9698 31.146 17.1653 30.1435 16.1728 30.1435H1.79698ZM16.7718 31.6363H1.19799V58.5072H16.7718V31.6363Z" fill="url(#paint1_linear)"/>
                <path d="M4.79202 32.0095C4.79202 31.3912 5.19429 30.8899 5.69051 30.8899H12.2795C12.7757 30.8899 13.1779 31.3912 13.1779 32.0095C13.1779 32.6279 12.7757 33.1292 12.2795 33.1292H5.69051C5.19429 33.1292 4.79202 32.6279 4.79202 32.0095Z" fill="url(#paint2_linear)"/>
                <path d="M12.8784 56.2679H5.09152C4.92611 56.2679 4.79202 56.435 4.79202 56.6412C4.79202 56.8473 4.92611 57.0144 5.09152 57.0144H12.8784C13.0439 57.0144 13.1779 56.8473 13.1779 56.6412C13.1779 56.435 13.0439 56.2679 12.8784 56.2679Z" fill="url(#paint3_linear)"/>
                </g>
                <path d="M126.658 54.1941H208.422C210.114 54.1941 211.488 52.9242 211.488 51.3631V2.83104C211.488 1.26992 210.114 0 208.422 0H126.658C124.968 0 123.592 1.26992 123.592 2.83104V51.3631C123.592 52.9242 124.968 54.1941 126.658 54.1941ZM126.22 2.83104C126.22 2.60779 126.417 2.4266 126.658 2.4266H208.422C208.664 2.4266 208.86 2.60779 208.86 2.83104V51.3631C208.86 51.5863 208.664 51.7675 208.422 51.7675H126.658C126.417 51.7675 126.22 51.5863 126.22 51.3631V2.83104ZM218.08 56.3603V58.6259C218.08 59.2261 217.553 59.713 216.903 59.713H118.177C117.527 59.713 117 59.2261 117 58.6259V56.3603H158.513C158.718 56.992 159.345 57.4555 160.096 57.4555H174.985C175.735 57.4555 176.362 56.9928 176.568 56.3603H218.08Z" fill="url(#paint4_linear)"/>
                <defs>
                <linearGradient id="paint0_linear" x1="79.4483" y1="10.5073" x2="79.4483" y2="59.5815" gradientUnits="userSpaceOnUse">
                <stop stop-color="#1762A7"/>
                <stop offset="1" stop-color="#BC3A80"/>
                </linearGradient>
                <linearGradient id="paint1_linear" x1="8.98491" y1="30.1435" x2="8.98491" y2="60" gradientUnits="userSpaceOnUse">
                <stop stop-color="#1762A7"/>
                <stop offset="1" stop-color="#BC3A80"/>
                </linearGradient>
                <linearGradient id="paint2_linear" x1="8.98498" y1="30.8899" x2="8.98498" y2="33.1292" gradientUnits="userSpaceOnUse">
                <stop stop-color="#1762A7"/>
                <stop offset="1" stop-color="#BC3A80"/>
                </linearGradient>
                <linearGradient id="paint3_linear" x1="8.98498" y1="56.2679" x2="8.98498" y2="57.0144" gradientUnits="userSpaceOnUse">
                <stop stop-color="#1762A7"/>
                <stop offset="1" stop-color="#BC3A80"/>
                </linearGradient>
                <linearGradient id="paint4_linear" x1="167.54" y1="0" x2="167.54" y2="59.713" gradientUnits="userSpaceOnUse">
                <stop stop-color="#1762A7"/>
                <stop offset="1" stop-color="#BC3A80"/>
                </linearGradient>
                <clipPath id="clip0">
                <rect width="17.9698" height="29.8565" fill="white" transform="translate(0 30.1435)"/>
                </clipPath>
                </defs>
                </svg>
                
            </div>     
            <h6 class="card-price text-center">Phone & Computer Specialists</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>iPhones Scree Replacement</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>iPads Scree Replacement</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Macbooks Scree Replacement</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Computer Scree Replacement</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Apple Watch Scree Replacement</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Samsung Galaxy Scree Replacement</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Surface Pro Scree Replacement</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>And more ...</li>
            </ul>
            
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-md-5 my-5">
        <div class="card">
          <div class="card-body">
           <!--  <h5 class="card-title text-muted text-uppercase text-center">Our Services</h5> -->
           <div class="text-center my-4">
           <img src="images/illustrations/everyjob.svg" alt="every job">       
            
           </div>
            <h6 class="card-price text-center">Your One-Stop Shop</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Screen Replacement</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Battery Replacement</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>iPhone glass back cover replacemnet</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Not turning on</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>No charging</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Camera Replacement</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Water damage issues</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>And more ...</li>
            </ul>
           
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<!-- phone-->
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-6 mx-auto text-color-light">
      <img src="/images/illustrations/phone.svg" class="my-5" alt="Call us">
      
    
      <h5 class="mb-5"><a href="tel:{{  range .Site.Data.contact }}{{ .mobile }}{{ end }}
        " class="align-middle text-dark">{{  range .Site.Data.contact }}{{ .mobile }}{{ end }}
       </h5></a>
      
      <hr class="hr-gradient w-md-100 mx-auto mb-0">

    </div>
    
  </div>
</div>

<!-- Getting here and google map -->
<div class="container">
  <div class="column">
    <div class="col-lg-8 mx-auto text-center no-gutters my-5">
      <ul class="tick-list">
  
      <li><p class="text-dark mb-3 text-left font-weight-bold">Shop G38, Burwood One Shopping Centre, 172 Burwood Highway, Burwood East, VIC 3151</p></li>
      <li><p class="text-dark mb-3 text-left">Near Coles</p></li>
      <li><p class="text-dark mb-3 text-left">Free parking</p></li>
      <li><p class="text-dark mb-3 text-left">We are close to: Burwood, Glen Waverley, Mount Waverley, Vermont, Vermont South, Nunawading, Forest Hill, Doncaster, Box Hill, and Blackburn.</p>
    </ul>
    </div>
    </div>
    <div class="col-lg-8 mx-auto text-center google-map-embed" id="burwoodscmap">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3150.31075979868!2d145.1481860517549!3d-37.853018543965895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad63f69825ebf17%3A0x642b8d2a60f41178!2sEG%20Phone%20and%20Computer%20Repairs!5e0!3m2!1sen!2sau!4v1654582097195!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

 <!-- SC map -->
 <div class="container-fluid">
   <div class="row">

     <h3 class="text-blue mx-auto my-5">Burwood One Shopping Centre Map</h3>
     <div class="co-lg-10 mx-auto text-center">
      <img src="/images/Burwood-SC.PNG" class="img-fluid mb-5" wdith="400" alt="Burwood One Shopping Center Map">
  </div>     
   </div>
 </div>

 <!-- Shop exterior -->
 <div class="container-fluid">
  <div class="row">
    <div class="co-lg-10 mx-auto text-center">
     <img src="/images/exterior.png" class="img-fluid mb-5" height="350" alt="Shop exterior">
 </div>     
  </div>
</div>

{{ end }}
